In [ ]:
#Observable Trends

#1. Most of the players of this game are male (85%), followed by female players (15%) and players who have not disclosed their gender (1%)
#2.Although most players are male, players who did not disclose their gender spent more on additional items on average at $3.34 per item
#3. "Oathbreaker, Last Hope of the Breaking Storm" was the most popular item at 12 purchases, followed by "Extraction, Quickblade Of Trembling Hands" and "Nirvana"

In [130]:
import pandas as pd
import numpy as np

In [131]:
purchase_data = "purchase_data.csv"

In [132]:
#Creating a data frame
purchase_data_pd = pd.read_csv(purchase_data)
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [133]:
#Player count
player_count = purchase_data_pd.count()
player_count

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [134]:
#Check if there are duplicates
boolean = purchase_data_pd['SN'].duplicated().any()
boolean

True

In [135]:
#Count of unique items
unique_items = purchase_data_pd['Item Name'].nunique()
unique_items

179

In [136]:
#Average purchase price
avg_price = purchase_data_pd['Price'].sum() / purchase_data_pd['Price'].count()
avg_price

3.0509871794871795

In [137]:
#Total number of purchses
tot_purch = purchase_data_pd['Purchase ID'].nunique()
tot_purch

780

In [139]:
#Total Revenue
tot_revenue = purchase_data_pd['Price'].sum()
tot_revenue

2379.77

In [140]:
#Male count and percentage
male_count = purchase_data_pd['Gender'].str.count("Male") 
male_count

tot_male = sum(male_count)
tot_male
print('Count of Male Players: ', (tot_male))

perc_male = tot_male / tot_purch
print('Percent of Male Players: ', (perc_male))

Count of Male Players:  652
Percent of Male Players:  0.8358974358974359

In [141]:
#Female count and percentage
female_count = purchase_data_pd['Gender'].str.count("Female") 
female_count

tot_female = sum(female_count)
print('Count of Female Players: ', (tot_female))

perc_female = tot_female / tot_purch
print('Percentage of Female Players: ', (perc_female))

Count of Female Players:  113
Percentage of Female Players:  0.14487179487179488

In [142]:
#Other count and percentage
other_count = purchase_data_pd['Gender'].str.count("Other / Non-Disclosed") 
other_count

tot_other = sum(other_count)
tot_other
print('Count of Other/Non-Disclosed: ', (tot_other))

perc_other = tot_other / tot_purch
print('Percentage of Other/Non-Disclosed: ', perc_other)

Count of Other/Non-Disclosed:  15
Percentage of Other/Non-Disclosed:  0.019230769230769232

In [143]:
#Male purchasing analysis

#Male purchase count
male_purch_count = sum(male_count)
print('Male Purchase Count: ', (male_purch_count))

#Average purchase price
male_av_purch_price = purchase_data_pd[purchase_data_pd['Gender']=='Male']['Price'].sum() / male_purch_count
print('Male Average Purchase Price: ', (male_av_purch_price))

#Total purchase value
male_tot_purch_value = purchase_data_pd[purchase_data_pd['Gender']=='Male']['Price'].sum()
print('Male Total Purchase Value: ', (male_tot_purch_value))

#Average Purchase Total per Person by Gender
male_df = purchase_data_pd.loc[purchase_data_pd['Gender'] == 'Male']
male_df.head()

male_df.groupby(['SN']).sum()

male_avg = male_df['Price'].sum() / male_df['SN'].nunique()
print('Male Average Purchase Total per Person:', (male_avg))

Male Purchase Count:  652
Male Average Purchase Price:  3.0178527607361967
Male Total Purchase Value:  1967.64
Male Average Purchase Total per Person: 4.065371900826446

In [144]:
#Female purchasing analysis

#Female purchase count
female_purch_count = sum(female_count)
print('Female Purchase Count: ', (female_purch_count))

#Average purchase price
female_av_purch_price = purchase_data_pd[purchase_data_pd['Gender']=='Female']['Price'].sum() / female_purch_count
print('Female Average Purchase Price: ', (female_av_purch_price))

#Total purchase value
female_tot_purch_value = purchase_data_pd[purchase_data_pd['Gender']=='Female']['Price'].sum()
print('Female Total Purchase Value: ', (female_tot_purch_value))

#Average Purchase Total per Person by Gender
female_df = purchase_data_pd.loc[purchase_data_pd['Gender'] == 'Female']
female_df.head()

female_df.groupby(['SN']).sum()

female_avg = female_df['Price'].sum() / female_df['SN'].nunique()
print('Female Average Purchase Total per Person:', (female_avg))

Female Purchase Count:  113
Female Average Purchase Price:  3.203008849557522
Female Total Purchase Value:  361.94
Female Average Purchase Total per Person: 4.468395061728395

In [145]:
#Other / Non-Disclosed purchasing analysis

#Other / Non-Disclosed purchase count
other_purch_count = sum(other_count)
print('Other Purchase Count: ', (other_purch_count))

#Average purchase price
other_av_purch_price = purchase_data_pd[purchase_data_pd['Gender']=='Other / Non-Disclosed']['Price'].sum() / other_purch_count
print('Other Average Purchase Price: ', (other_av_purch_price))

#Total purchase value
other_tot_purch_value = purchase_data_pd[purchase_data_pd['Gender']=='Other / Non-Disclosed']['Price'].sum()
print('Other Total Purchase Value: ', (other_tot_purch_value))

#Average Purchase Total per Person by Gender
other_df = purchase_data_pd.loc[purchase_data_pd['Gender'] == 'Other / Non-Disclosed']
other_df.head()

other_df.groupby(['SN']).sum()

other_avg = other_df['Price'].sum() / other_df['SN'].nunique()
print('Other Average Purchase Total per Person:', (other_avg))

Other Purchase Count:  15
Other Average Purchase Price:  3.3459999999999996
Other Total Purchase Value:  50.19
Other Average Purchase Total per Person: 4.5627272727272725

In [146]:
#Age Demographics

bins = [0, 10, 14, 19, 50]

group_names = ['Under 10', '11 to 14', '15 to 19', 'Over 20']

purchase_data_pd["Age Groups"] = pd.cut(purchase_data_pd["Age"], bins, labels=group_names)
purchase_data_pd

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Over 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Over 20
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Over 20
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Over 20
4,4,Iskosia90,23,Male,131,Fury,1.44,Over 20
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,Over 20
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,Over 20
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,Over 20
778,778,Sisur91,7,Male,101,Final Critic,4.19,Under 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,Over 20

In [147]:
#Bin calculations

#Purchase count
under_10 = purchase_data_pd['Age Groups'].str.count('Under 10')
under10_tot = sum(under_10)
print('Under 10 Purchase Count: ', (under10_tot))

elev_to_fourt = purchase_data_pd['Age Groups'].str.count('11 to 14')
elevfourt_tot = sum(elev_to_fourt)
print('11 to 14 Purchase Count: ', (elevfourt_tot))

fif_to_nine = purchase_data_pd['Age Groups'].str.count('15 to 19')
fifnine_tot = sum(fif_to_nine)
print('15 to 19 Purchase Count: ', (fifnine_tot))

over_20 = purchase_data_pd['Age Groups'].str.count('Over 20')
over20_tot = sum(over_20)
print('Over 20 Purchase Count: ', (over20_tot))

Under 10 Purchase Count:  32
11 to 14 Purchase Count:  19
15 to 19 Purchase Count:  136
Over 20 Purchase Count:  593

In [148]:
# Bin Averages

under_10_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='Under 10']['Price'].sum()
under_10_avg = under_10_sum/ under10_tot

print('Under 10 Average Purchase Price: ', (under_10_avg))

elev_to_fourt_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='11 to 14']['Price'].sum()
elev_to_fourt_avg = elev_to_fourt_sum / elevfourt_tot
print('11 to 14 Average Purchase Price: ', (elev_to_fourt_avg))

fif_to_nine_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='15 to 19']['Price'].sum()
fif_to_nine_avg = fif_to_nine_sum / fifnine_tot
print('15 to 19 Average Purchase Price: ', (fif_to_nine_avg))

over_20_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='Over 20']['Price'].sum()
over_20_avg = over_20_sum / over20_tot
print('Over 20 Average Purchase Price: ', (over_20_avg))

Under 10 Average Purchase Price:  3.4050000000000002
11 to 14 Average Purchase Price:  2.6815789473684206
15 to 19 Average Purchase Price:  3.035955882352941
Over 20 Average Purchase Price:  3.04716694772344

In [156]:
#Bin Purchase Totals

under_10_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='Under 10']['Price'].sum()
print('Under 10 Total Purchase Value: ', (under_10_sum))

elev_to_fourt_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='11 to 14']['Price'].sum()
print('11 to 14 Total Purchase Value: ', (elev_to_fourt_sum))

fif_to_nine_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='15 to 19']['Price'].sum()
print('15 to 19 Total Purchase Value: ', (fif_to_nine_sum))

over_20_sum = purchase_data_pd[purchase_data_pd['Age Groups']=='Over 20']['Price'].sum()
print('Over 20 Total Purchase Value: ', (over_20_sum))

Under 10 Total Purchase Value:  108.96000000000001
11 to 14 Total Purchase Value:  50.949999999999996
15 to 19 Total Purchase Value:  412.89
Over 20 Total Purchase Value:  1806.97

In [151]:
#Top Spenders

#Puchase Sum per spender
groupby_df = purchase_data_pd.groupby(['SN']).sum()
groupby_df

groupby_sorted = groupby_df.sort_values(['Price'], ascending=False)
groupby_sorted

groupby_sorted = groupby_sorted.loc[groupby_sorted['Price'] >= 13.10]
groupby_sorted

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      451  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [152]:
#Most popular items

pop_items = purchase_data_pd[["Item ID","Item Name","Price"]]

pop_item_df = pop_items.groupby(['Item Name', 'Item ID'])

item_count = pop_item_df.Price.count()

item_sum = pop_item_df.Price.sum()

item_price = item_sum / item_count

most_pop = pd.DataFrame({"Purchase count": item_count,
                         "Item Price": item_price,
                         "Total Purchase Value": item_sum})

descending = most_pop.sort_values(['Purchase count'], ascending=False)
descending.head()

,,Purchase count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
"Extraction, Quickblade Of Trembling Hands",108,9,3.53,31.77
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
"Pursuit, Cudgel of Necromancy",19,8,1.02,8.16

In [153]:
purch_val = most_pop.sort_values(['Total Purchase Value'], ascending=False)
purch_val.head()

,,Purchase count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
Final Critic,92,8,4.88,39.04
Singed Scalpel,103,8,4.35,34.80